.container{
    width:auto;
    height:60%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right:3vw;
}
.container>.item{
    margin:4% 2%;
    border:2px solid #d3a875;
}
.modal2>p{
    height:5%;
    margin-right:3vw;
    margin-top:2vh;
}
.modal2>p>button{
    height:100%;
    color: #d3a875;
    font-weight:bold;
    background-color: #ffffff;
    border:2px solid #d3a875;
    border-radius: 50px;
    &:hover{
        color: #8c8b89;
        font-weight:bold;
        background-color: #d8ccb4;
        border:2px solid #d3a875;
    }
}