.Reservation{
    position:absolute;
    top:95vh;
    width:100%;
    height:80vh;
}
.ResDiv{
    display:flex;
    flex-direction: rows;
    height:85%;
    margin-left:2.5vw;
    margin-right:2.5vw;
}
.ResDiv>.item{
    width:100%;
    margin:2%;
    border: 2px solid #d3a875;
}


.IconUl>.icon{
    margin-left:-7%;
    font-size:1.3rem;
    color: #d3a875;
    -webkit-text-stroke:1px #d3a875;
}
.IconUl>.icon>img{
    width:12%;
    height:100%;
    margin-right:3%;
}

.IconUl{
    padding-top:5%;
    padding-bottom:5%;
    padding-right:3%;
}
.IconUl > li{
    font-size: 1rem;
    margin-top:5%;
    line-height:22px;
    color: #8c8b89;
    font-weight:bold;
}

.btn{
    width:200px;
    height:35px;
    font-size: 1rem;
    color: #d3a875;
    font-weight:bold;
    background-color: #ffffff;
    border:2px solid #d3a875;
    border-radius: 50px;
    margin-left:43%;

    &:hover{
        color: #8c8b89;
        font-weight:bold;
        background-color: #d8ccb4;
        border:3px solid #d3a875;
    }
}