.Review{
    position:absolute;
    top:175vh;
    width:100%;
    height:80vh;
}
.RevDiv{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.RevDiv>.Revitem{
    width:auto;
    height:50%;
    margin:2vh 4vw;
    display: flex;
    flex-direction: row;
}

.RevDiv>.Revitem>.RevitemTitle{
    flex: 0.25;
}
.RevDiv>.Revitem>.RevitemTitle>.icon{
    margin:auto;
    top:50%;
    transform: translateY(-50%);
    height:40%;
    font-size: 1.5rem;
}
.RevitemTitle>.icon>img{
    margin:2%;
    margin-left:10%;
    height:70%;
}
.RevitemTitle>.icon>span{
    position:absolute;
    top:40%;
    margin-left:7%;
    transform: translateY(-40%);
}
.RevitemTitle>.icon>Button{
    float:center;
    margin-left:7%;
    border-radius:7px;
    color: #d3a875;
    background-color: #ffffff;
    border:2px solid #d3a875;

    &:hover{
        color: #8c8b89;
        font-weight:bold;
        background-color: #d8ccb4;
        border:2px solid #d3a875;
    }
}
.RevDiv>.Revitem>.Button{
    flex: 0.05;
}
.RevDiv>.Revitem>.NoticeContent{
    flex: 0.65;
    display: flex;
    flex-direction: row;
}
.RevDiv>.Revitem>.NoticeContent>div{
    flex:1;
    border:2px solid #d3a875;
    width:100%;
    height:100%;
}

.loading{
    position:relative;
    float:center;
    margin:auto;
    top:50%;
    transform: translateY(-50%);
    color: #8c8b89;
    text-align: center;
    font-weight: bold;
    line-height:1.5rem;
    font-size: 1.1rem;
}
.leftbtn{
    position:relative;
    background: url(../images/leftbtn.png) no-repeat;
    background-size: 60%;
    background-position: center;
    width:100%;
    height:20%;
    top:50%;
    transform: translateY(-50%);
    border:none;
}
.rightbtn{
    position:relative;
    background: url(../images/rightbtn.png) no-repeat;
    background-size: 60%;
    background-position: center;
    width:100%;
    height:20%;
    top:50%;
    transform: translateY(-50%);
    border:none;
}